<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.shohibmedia.crudwebsql" 
    versionCode = "10"
    version     = "1.1.2" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>CRUD WebSQL</name>
 
  <description>
      Create,update,delete
  </description>
 
  <author href="https://shohib-media.blogspot.com" email="shohibulhary@gmail.com">
      Shohib Media
  </author>
 
</widget>